{% extends "layout.html" %}
{% block body %}
<div class="datagrid">
    <table>
	
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Message</th>
            </tr>
        </thead>
        
        <tbody>{% for entry in table %}
            <tr>
                <td>{{ entry[0]}}</td>
                <td>{{ entry[1]}}</td>
                <td>{{ entry[2]}}</td>
                <td>{{ entry[3]}}</td>
            </tr>
            
        
</tbody>
		{% endfor %}
    </table>
</div>
{% endblock %}

